{% extends 'base.html' %}

{% block title %}
Specific image
{% endblock %}

{% block content %}

<div class="row singleImage">
  <a href="{% url 'gallery' %}" class="btn btn-dark btn-block btn-sm m-1">Go Back</a>
  <div class="col-8">
    <div class="card">
      <div class="card-image">
        <img id="rotateImage" src="{{specImage.image.url}}">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        <p>Published on : {{specImage.uploaded_at}}</p>
      </div>
      <div class="card-tags">
        <p>#<strong>{{specImage.tags}}</strong></p>
      </div>
      <div class="buttons">
        <button class="btn btn-primary" id="rotateClk">Rotate Clockwise</button>
        <button class="btn btn-primary" id="rotateAnti">Rotate Anticlockwise</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  var rotateClockwise = document.getElementById("rotateClk");
  var rotateAntiClockwise = document.getElementById("rotateAnti");
  var rotateImage = document.getElementById("rotateImage");
  var degreeRotated = 0;
  rotateClockwise.addEventListener('click', function () {
    degreeRotated += 90;
    degreeRotated = degreeRotated % 360;
    rotateImage.style.transform = `rotate(${degreeRotated}deg)`;
  })
  rotateAntiClockwise.addEventListener('click', function () {
    degreeRotated -= 90;
    degreeRotated = degreeRotated % 360;
    rotateImage.style.transform = `rotate(${degreeRotated}deg)`;
  })
</script>

{% endblock %}